body{
    background-color: #ced4da;
    font-family: 'Poppins',sans-serif;
}
.form{
    background-color: white;
    border-radius: 10px;
}
.users-list{
    max-height: 300px;
    overflow-y: auto;
}
.user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ced4da;
}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.user
{
    background: -webkit-linear-gradient(left, #72b0fc, #cc82f1);
    border-radius: 3px;
    margin-bottom: 3px;;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.vertical-center{
    position: absolute;
    width: 40%;
    top: 15%;
    left: 30%;
    margin: auto;
}
.btn-large{
    background-color: #80c3fae5;
}
.user-text {
    text-align: left;
    margin-top:3px;
    border-top: 1px,solid,  #cc82f1;
}